{% comment %}
{% layout 'password' %}

{% comment %}
  The contents of the password.liquid templates can be found in /sections
{% endcomment %}

{% section 'password-header' %}
{% section 'password-content' %}
{% section 'password-footer' %}
{% endcomment %}

        <div class="center">

            <img src="./assets/title.png" alt="aflame.to">

            <h2>in the making.</h2>

            <p>Be the first to know when we launch.</p>
            <p>Promotions, new products and sales. Directly to your inbox.</p>

            <form>
                <input type="email" name="email">
                <button>notify me</button>
            </form>
        </div>